<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServiceMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <ServiceMonitor.Properties.Settings>
      <setting name="TimeZone" serializeAs="String">
        <value>Israel Standard Time</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Processes" serializeAs="String">
        <value>
          [
          {
          "ProcessName": "NivshemerSec.Services.Storage",
          "CommandLine": "cd c:\\Nivshemer\\DataStoreService\r\nstart /min \"DataStore Service\" dotnet NivshemerSec.Services.Storage.dll",
          "DisplayName": "DataStore Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.DeviceKeyStore",
          "CommandLine": "cd c:\\Nivshemer\\DeviceKeyStore\r\nstart /min \"Device Key Store\" dotnet NivshemerSec.Services.DeviceKeyStore.dll",
          "DisplayName": "Device Key Store"
          },
          {
          "ProcessName": "NivshemerSec.Services.DeviceAuthentication",
          "CommandLine": "cd c:\\Nivshemer\\DeviceAuthentication\r\nstart /min \"Device Authentication\" dotnet NivshemerSec.Services.DeviceAuthentication.dll",
          "DisplayName": "Device Authentication"
          },
          {
          "ProcessName": "NivshemerSec.Services.Devices",
          "CommandLine": "cd c:\\Nivshemer\\DeviceServices\r\nstart /min \"Device Service\" dotnet NivshemerSec.Services.Devices.dll",
          "DisplayName": "Device Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.OverTheAir",
          "CommandLine": "cd c:\\Nivshemer\\OTAServer\r\nstart /min \"OTA Service\" dotnet NivshemerSec.Services.OverTheAir.dll",
          "DisplayName": "OTA Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.Management.Api",
          "CommandLine": "cd c:\\Nivshemer\\ManagementAPI\r\nstart /min \"Management API\" dotnet NivshemerSec.Services.Management.Api.dll",
          "DisplayName": "Management API"
          },
          {
          "ProcessName": "NivshemerSec.Services.Data.DataReadyProcessor",
          "CommandLine": "cd c:\\Nivshemer\\DataReadyProcessor\r\nstart /min \"Data Ready Processor\" dotnet NivshemerSec.Services.Data.DataReadyProcessor.dll",
          "DisplayName": "Data Ready Processor"
          },
          {
          "ProcessName": "NivshemerSec.Services.Alerts",
          "CommandLine": "cd c:\\Nivshemer\\AlertsManagement\r\nstart /min \"Alerts Management\" dotnet NivshemerSec.Services.Alerts.dll",
          "DisplayName": "Alerts Management"
          },
          {
          "ProcessName": "NivshemerSec.Services.Extensibility",
          "CommandLine": "cd c:\\Nivshemer\\ExtensibilityService\r\nstart /min \"Extensibility Service\" dotnet NivshemerSec.Services.Extensibility.dll",
          "DisplayName": "Extensibility Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.Configuration",
          "CommandLine": "cd c:\\Nivshemer\\ConfigurationService\r\nstart /min \"Configuration Service\" dotnet NivshemerSec.Services.Configuration.dll",
          "DisplayName": "Configuration Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.Identity",
          "CommandLine": "cd c:\\Nivshemer\\IdentityService\r\nstart /min \"Identity Service\" dotnet NivshemerSec.Services.Identity.dll",
          "DisplayName": "Identity Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.GuidGeneration",
          "CommandLine": "cd c:\\Nivshemer\\GuidGeneration\r\nstart /min \"Guid Generation Service\" dotnet NivshemerSec.Services.GuidGeneration.dll",
          "DisplayName": "Guid Generation Service"
          },
          {
          "ProcessName": "NivshemerSec.Services.Assets",
          "CommandLine": "cd c:\\Nivshemer\\AssetsService\r\nstart /min \"Assets Service\" dotnet NivshemerSec.Services.Assets.dll",
          "DisplayName": "Assets Service"
          }
          ]
        </value>
      </setting>
    </ServiceMonitor.Properties.Settings>
  </applicationSettings>
</configuration>